*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 20%;
}
H1{
    float: right;
    margin-right: 37px;
    margin-top:35px;
    color: #fff;
}
.contenedor{
    width: 90%;
    /*para centrar nuestro div contendor*/
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;/*darle espaciado dentro del grid*/
    grid-template-columns: repeat(3, 1fr); /*definir las  columanas*/
    grid-template-rows: repeat(5, auto); /*definir las filas*/
}
.contenedor > div,
.contenedor .nav2,
.contenedor .Cabecera,
.contenedor .footer,
.contenedor .cuerpo{
    background-color:#2A9D8F;
    padding: 20px 20px;
    border-radius: 4px;
}
.contenedor .Cabecera {
    background-color: #264653;
    grid-column-start: 1; /* para que inicie en la columna 1*/ 
    grid-column-end: 4; /* para que acabe en la columna 4*/

}
.contenedor .nav2{
    background-color: #EF6F51;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
.contenedor .cuerpo {
    background-color: #F4F1DE;
    grid-column: span 2;
    height: 800px;
}
.contenedor .pie{
    background-color: #264653;
    grid-column: span 3;
    text-align: centrar;
}
.contenedor .contenido1{
    grid-column: 3/4;
    grid-row: span 2;
   
}
.boton-amarillo {
    background-color: #7c7c7c;
}
.boton {
    color: #ffffff;
   padding: 8px 45px;
   border-radius: 45px;
   float: right;
}
.nav2 h2{
 float: left;
 text-align: left;
 margin: 8px 5px;
}
.seccion-1{
    border: 4px solid #06224A;
    margin: 2px;
    height: 33%
}
.seccion-1 ul, ol{
    margin:0 25px;
}
.seccion-2{
    border: 4px solid #06224A;
    display: flex;
    grid-gap: 5px;
    height: 33%;
}
.section-antes{
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #fff;
    width: 50%;
}

.section-despues{
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #fff;
    width: 50%;
}
.section-despues ul, .seccion-3 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.section-despues ul li{
    background-color: #2e518b;
    width: 33.33%;
}
.section-despues ul a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section-despues ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
.section-despues ul li:hover{
    background:#5b78a7;
}
/*Despegable menu*/
.section-despues ul ul {  /*ocultar los submenu*/
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}
.section-despues ul ul li {
    float:none;
    width:150px
}
.section-despues  ul ul a {
    line-height:120%;
    padding:10px 15px;
}
.section-despues ul li:hover > ul {
    display:block;
}
.seccion-3{
    height:33.33%;
    background-color: #fff;
    justify-content: center;
    text-align: center;
}
.lup{
    font-size:65px;
    background-color: #2e518b;
    
}
.lup:hover{
    color: #b4b4b4;
}

.seccion-3 ul li{
    background-color: #2e518b;
    width: 33.33%;
}
.seccion-3 ul a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.seccion-3 ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
.seccion-3 ul li:hover{
    background:#5b78a7;
}
/*Despegable menu*/
.seccion-3 ul ul {  /*ocultar los submenu*/
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}
.seccion-3 ul ul li {
    float:none;
    width:250px
}
.seccion-3 ul ul a {
    line-height:120%;
    padding:8px 8px;
}
.seccion-3 ul li:hover > ul {
    display:block;
}






/*pie de pagina*/
.footer{
    display: flex;
}
.pie_li{
    display: inline-block;
    padding: 12px;
    color: #fff;
    flex-wrap: wrap-reverse;
}
.pie_li a{
    color: #fff;
    text-decoration: none;
    }
    .pie_li a:hover{
        color: #06224A;
    }
    .pie-1 i, p{
     color: #ffff;
     display: inline-block;
    }
.pie-2 ,.pie-1, .pie-3{
    width: 33.33%;
    height: 100%;
}
.pie-1 {
    padding: 12px;
}
.pie-3{
    flex-wrap: wrap;
    display: flex;
}
.pie-1 i, p{
    color: #ffff;
    display: inline-block;
}