*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

img{
    max-width: 20%;
}
H1{
    float: right;
    margin-right: 37px;
    margin-top:35px;
    color: #d6d6d6;
}
h4{
    text-align: center;
    color: #F4F1DE;
}
body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
    display: grid;
    gap:20px;
    grid-template-rows: repeat(4, auto);
}

.contenedor > div,
.contenedor .navegador,
.contenedor .Cabecera,
.contenedor .pie,
.contenedor .cuerpo{
    background-color:#2A9D8F;
    padding: 20px 20px;
    border-radius: 4px;
}
.contenedor .Cabecera {
    background-color: #264653;
    grid-column-start: 1; /* para que inicie en la columna 1*/ 
    grid-column-end: 4; /* para que acabe en la columna 4*/

}
.contenedor .pie{
    background-color: #06224A;
}
.contenedor .navegador{
    background-color: #EF6F51;
}
.contenedor .cuerpo{
    background-color: #F4F1DE;
    color: #1D202B;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.contenedor .Cabecera{
    background-color: #264653;
}
.contenedor .cuerpo3{
    grid-column: 3/4 ;
    grid-row: span 2;
}

/*navegador*/
.boton-amarillo {
    background-color: #7c7c7c;
}
.boton {
    color: #ffffff;
   padding: 8px 45px;
   border-radius: 45px;
   float: right;
}
.navegador h2{
 float: left;
 text-align: left;
 margin: 8px 5px;
}
/* cuerpo*/
.cuerpo p{
    color: #1D202B;
    margin: 5px;
}

.cuerpo .cuerpo1{
    background-color:#5e8f89;
    padding: 20px 20px;
    border-radius: 25px;
    
}
.cuerpo .cuerpo2{
    background-color:#5e8f89;
    padding: 20px 20px;
    border-radius: 25px;
}
.cuerpo .cuerpo3{
    background-color:#5e8f89;
    padding: 20px 20px;
    border-radius: 25px;
   
}
.cuerpo .cuerpo4{
    background-color:#5e8f89;
    padding: 20px 20px;
    border-radius: 25px;
}
.cuerpo .cuerpo5{
    background-color:#5e8f89;
    padding: 20px 20px;
    border-radius: 25px;
}
/*botones*/
.boton-1, .boton-2{
    padding: 5px 25px;
    background-color: #EF6F51;
    border-radius: 15px;
}
.boton-1:hover, .boton-2:hover{
    background-color: #ff9e88;
}

/*pie de pagina*/
.pie{
    display: flex;
}
.pie_li{
    display: inline-block;
    padding: 12px;
    color: #fff;
    flex-wrap: wrap-reverse;
}
.pie_li a{
    color: #fff;
    text-decoration: none;
    }
    .pie_li a:hover{
        color: #06224A;
    }
    .pie1 i, p{
     color: #ffff;
     display: inline-block;
    }
.pie2 ,.pie-1, .pie-3{
    width: 33.33%;
    height: 100%;
}
.pie1 {
    padding: 12px;
}
.pie3{
    flex-wrap: wrap;
    display: flex;
}
.pie1 i, p{
    color: #ffff;
    display: inline-block;
}
